[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
mypy = "*"
types-colorama = "*"

[packages]
colorama = "*"
importlib-metadata = "==1.7.0"
typing_extensions = "*"

[requires]
